.gameCard{
  border: 3px black;
  display:flex;
  flex-direction: column;
  max-width: 210px;
}

.gameCard img{
  aspect-ratio: 3/4;
  max-height: 285px;
  max-width: 100%;
  min-width: 0px;
  height: fit-content;
  border-radius: 2%;
}

.gameCard img:hover {
  filter: brightness(120%);
}

.gameCard-description{
  padding: 0px 2px 0px 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
  
}

.gameCard-title{
  min-width: 100%;
    width: 0;
  /* width: 100%; */
  display: inline-block;
  white-space:nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
}

.gameCard-author{
  font-family:'Franklin Gothic ITALIC', 'Arial Narrow', Arial, sans-serif;
  min-width: 100%;
  width: 0;
  display: inline-block;
  white-space:nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
}

.gameCard-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameCard-discount{
  display: inline-block;
  padding: 6px 5px 0px 5px;
  background-color: #0074e4;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  margin: 3px 5px 9px 5px;
}

.gameCard-actualPrice{
  text-align: right;
}

.gameCard-oldPrice{
  text-align: right;
  text-decoration: line-through;
  color: #c6c7c8;
}

.gameCard-btn{
  display: inline-block;
    font-weight: 400;
    color: azure;
    text-align: center;
    vertical-align: middle;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    background-color: #2f5763;
    border: none;
    border-radius: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
}

@media (max-width: 1040px){  
  .gameCard img{
    aspect-ratio: 3/4;
    height: auto;
    border-radius: 2%;
  }

  .gameCard:last-child:nth-child(2n - 1) {
    grid-column-end: 2;
  }
}