.startPage-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}








// .carousel-indicators [data-bs-target] {
//   width: 10px;
//   height: 10px;
//   border-radius: 100%;
// }

// .carousel-item img{
//   aspect-ratio: 16/9;
// }

// .carousel-item .btn-danger{
//   background-color: rgb(186, 31, 31);
// }

// .carousel-caption .btn-warning{
//   background-color: rgb(200, 177, 46);
// }

// .carousel-caption h1{
//   font-size: 2.5vw;
// }

// .carousel-caption p{
//   font-size: 1.4vw;
// }