.pagination {
  display: flex;
  justify-content: center;
  color: #b791e5;
  margin-bottom: 70px;  
}

.pagination-inner{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-weight:bold;
}
.page-active {
  color:#cf1796;
}

.page-inactive{
  color:#b791e5;
}

.catalog-pagination-arrow{
  height: 8px;
  width: 8px;
  border: solid #b791e5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
}

.left{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.invinsible-arrow {
  display: none;
}