.notFound{
  background: #cccccc;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.notFound_wrapper{
  display: inline-block;
  position: relative;
}

img{
  max-width: 100%;
}

.notFound_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

@media(max-width: 835px){
  .notFound_img{    
    width: 95%;
  }
}

.bear{
  display: inline-block;
  position: relative;
}

@media(min-width: 835px){
  .bear{
    display: inline-block;
    position: absolute;
    right:0px;
    left: 81.15%;
    top: 62%;
  }
}

@media(min-width: 1040px){
  .bear{
    display: inline-block;
    position: absolute;    
    right: auto;
    left: 81.15%;
    top: 38.27%;
  }
}

.bear_text{
  text-align: center;
  height: fit-content;
  width: 120px;
  display: inline-block;
  position: absolute;
  left: 60px;
  top:15px;
  font-size: 10px;
  line-height: 1,5;
  color: black;
}

.bear_text_link{
  text-decoration:underline;
  color: black;
  font-size: 11px;
}

.bear_img{
  max-width: none;
}


