.app.normal {
  --bg-color:#2a1d38;
  --secondary-bg-color:#492f6b;
  --tertiary-bg-color:#341f50;
  --inverted-bg-color:#a371d8;

  --primary-color:#ffffff;
  --primary-hover-color:#CF1796;
  --secondary-color:#cfcfcf;
}
