.app.normal {
  --bg-color:#2a1d38;
  --inverted-bg-color:#492f6b;
  --inverted-bg-secondary-color:#341f50;

  --primary-color:#ffffff;
  --primary-hover-color:#CF1796;
  --secondary-color:#cfcfcf;
}
